{{#partial "content"}}

    {{#if teams}}
        {{#each teams}}

            <center>

            <h2><ul>Team Name:</ul></h2><p> {{teamName}}</p><hr>
            <h5>Description of your Team:</h5><p> {{teamDesc}}</p><hr>
            <br><p><a href="/teams/{{id}}"> read more...</a></p>
            <br>
            </center>




        {{/each}}
    {{else}}
            <br>
            <br>
            <p>No Teams Created!</p>

    {{/if}}
{{/partial}}


{{> layout.hbs}}