
{{#partial "content"}}

    <h2>Alright!!</h2>
    <hr>
    <br>
    <br>
    <img src="../images/200.gif">~~Team Created~~<img src="../images/200.gif">
    <br>
    <br>
    <a href="/" class="btn btn-success index-btn">View Teams</a>
{{/partial}}

{{>layout.hbs}}
