{{#partial "content"}}

    <h5>SWEET!!</h5>
    <hr>
    <p><img src="../images/200.gif">Member Added~~~<img src="../images/200.gif"></p>
    <br>
    <a href="/" class="btn btn-success index-btn">View Your Teams</a>
{{/partial}}

{{>layout.hbs}}