{{#partial "content"}}

    {{#if teamEdit}}

        <h1>Edit this team:</h1>

        <form action="/teams/update" method="post">
        <select name="newTeamId" id="newTeamId">
            {{#each teams}}
                <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{teamName}}</option>
            {{/each}}

        </select>
            <br>
                <label for="newTeamName">Edit this team's name</label>
                <input id="newTeamName" name="newTeamName" type="text" placeholder="new team name">
            <br>

                <label for="newTeamDesc">Edit this team's description:</label>
                <input id="newTeamDesc" name="newTeamDesc" type="text" placeholder="new team description">
            <br>
            <button type="submit" class="btn btn-default">EDIT!</button>
        </form>

    {{else}}

            <h1>Add a new Team!</h1>

        <form action="/teams/new" method="post">


                <label for="teamName">This team's name</label>
                <input id="teamName" name="teamName" type="text">
                <br>
                <label for="teamDesc">This team's description</label>
                <input id="teamDesc" name="teamDesc" type="text">

        <br>
                <button type="submit" class="btn btn-default">Go!</button>

    {{/if}}
    <br>


    </form>

{{/partial}}

{{> layout.hbs}}
